
.paginator {
    margin: 14px 8px;
}
.pageNumber {
    padding-left: 2px;
    border: 1px solid grey
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
.btn {
    background-color: lavender;
    border-radius: 10%;
    color: darkslategrey;
}